.form_search {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form_search h1 {
  margin: 10px;
  /* display: block; */
}
.search_area {
  display: flex;
  justify-content: center;
}
.search_area input {
  height: 44px;
  padding: 0 10px;
  margin-right: 5px;
  border-radius: 5px;
}

.search_word {
  color: #777;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  margin-top: 10px;
}
